/* NORMALISE.CSS */
/* #region */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /* Embedded content
     ========================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Misc
     ========================================================================== */

  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }
/* #endregion */

/* GENERAL */
/* #region */

/* source-sans-pro-regular - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
         url('../fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
/* source-sans-pro-700 - latin */
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
         url('../fonts/source-sans-pro-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/source-sans-pro-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(49, 51, 53);
    background-color: rgb(245, 245, 245);
}

ul {
    list-style: none;
    padding-left: 0em;
}

a {
    text-decoration: none;
}

h1 {
    margin-bottom: 0.2em;
}

.btn {
    background-color: rgb(0, 119, 181);
    color: #FFFFFF;
    border: none;
    padding: 0.5em;
}

.container {
    display: flex;
}
/* #endregion */

/* SIDEBAR */
/* #region */
nav {
    background-color: rgb(0, 119, 181);  
    position: sticky;
    top: 0;
    min-width: 10em;
    max-width: 10em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav figcaption, nav small, nav a {
    color: #FFFFFF;
}

#profilePicture {
    width: 100%;
}

figure {
    margin: 0em;
    text-align: center; 
    margin-bottom: 1em;  
    display: flex;
    flex-direction: column; 
}

.desc {
    padding: 0.5em;
}


figcaption {
    padding: 0.5em;
    font-weight: 700;
}

#menu {
    background-color: rgb(49, 51, 53);    
    width: 100%;
}

#menu>ul {
    margin-top: 0em;
    margin-bottom: 0em;
    display: flex;
    flex-direction: column;
}

#menu>ul li {
    margin: 0em;
    padding: 0.3em;
    padding-left: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0em;
}

#menu>ul li:nth-child(odd) {
    background-color: rgb(109, 111, 114);
}

#menu>ul li a {
    display: block;
    width: 100%;
    padding: 0.3em;
}

#menu ul li .signet {
    min-height: 1.6em;
    width: 7%;
    height: 90%;
}

#menu ul li .signet.active {
    background-color: rgb(245, 245, 245);
}

#contact {
    text-align: center;
}

#contact li {
    display: inline;  
    margin-left: 0.5em;
    margin-right: 0.5em; 
    border-bottom:  solid 2px rgb(0, 119, 181);    
}

#contact li:hover {
    border-bottom: solid 2px white;    
}

#language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
}

#language>div {
    display: inline-block;  
    margin-right: 0.4em;
    margin-left: 0.4em;
    padding: 0.1em;
}

.active_language {
    border-bottom: solid 2px white;        
}
/* #endregion */

/* MAIN */
/* #region */
.main {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.main>header {
    width: 92%;
}

section {
    width: 90%;
    background-color: #FFFFFF;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.1em 1em 1em 1em;
    border: 1px solid rgb(202, 204, 206);        
}

section>h2 {
    margin-bottom: 0em;
}

/* #endregion */

/* Smartphones (portrait) ----------- */
@media screen and (max-width : 569px) {
/* Styles */
    .container {
        flex-direction: column;
    }

    nav {
        position: inherit;
        height: auto;
        max-width: inherit;
    }

    figure {
        flex-direction: row; 
        align-items: center;
    }

    #profilePicture {
        max-height: 12em;
    }

    figure div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    #menu {
        margin-top: -1.3em;
    }

    #menu>ul {
        text-align: center;
    }

    #menu>ul li a {
        padding-top: 0.8em;
        padding-bottom: 0.8em;
    }

    #menu ul li .signet {
        min-height: 2.5em;
        width: 2%;
        height: 85%;
    }

    section {
        width: 95%;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

}

@media (max-height : 450px) {

    /* remove picture if viewport is not heigh enough */
    #profilePicture {
        display: none;
    }

}

