@media print {
    @page {
        size: A4;
    }
    
    body {
        overflow: visible !important; /* Firefox bug */
        font-size: 0.8em;
    }

    .main {
        padding: 0em;
        width: 100%;
        background-color: #FFFFFF;
    }

    .main>header>.print-only {
        margin-top: 1em;
        margin-bottom: -1em;
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
    }
    
    .main>header>.print-only>div {
        display: flex;
    }

    .main>header figure {
        margin-right: 1em;
    }

    .main>header h1 {
        margin-top: 0em;
    }
    .main>header small {
        display: block;
    }

    .main>header>.print-only>img {
        width: 16.5%;
        height: 16.5%;
        align-self: flex-end;
        margin-bottom: 1em;
    }
    
    #profilePictureSidebar {
        max-width: 7.5em;
    }

    .website-only {
        display: none;
    }

    section {
        padding-bottom: 0em;
        margin-bottom: 0em;
        padding-top: 0em;
        background-color: rgb(245, 245, 245);
    }  

    section>article:last-child a img {
        margin-top: -2.1em;
    }  

    .description {
        min-width: 200px;
        max-width: 300px;
        flex-basis: auto;
        flex-grow: 1;
    }

    #experience {
        padding-bottom: 1em;
    }

    #cards {
        flex-wrap: nowrap
    }

    #education {
        margin-bottom: 2em;
    }

    abbr[title] {
        text-decoration: none;
    }

    tr {
        background-color: #FFFFFF;
    }

    #interests {
        margin-bottom: 1em;
    }

}