@import './variables.scss';

@media print {
    @page {
        size: A4;
    }
    
    body {
        overflow: visible !important; /* Firefox bug */
        font-size: 0.8em;
        background-color: $white;

        .website-only {
            display: none;
        }

        .main {
            padding: 0em;
            width: 100%;
            background-color: $white;
    
            &>header {
                
                &>.print-only {
                    
                    display: flex;
                    justify-content: space-between;
                    font-size: 1em;
    
                    &>div {
                        display: flex;
    
                        figure {
                            margin: 1em;
                            #profilePictureSidebar {
                                max-width: 7em;
                            }
                        }
    
                        div {
                            h1 {
                                margin-top: 0.4em;
                            }
    
                            small {
                                display: block;
                            }
                        }
                    }
    
                    &>img {
                        width: 14%;
                        height: 14%;
                        align-self: flex-end;
                        margin-bottom: 1em;
                    }
                }
            }
    
            section {
                background-color: rgb(245, 245, 245);

                &#experience {
                    margin-top: 0em;
                    padding-top: 0em;
                }

                &#education {
                    // ducktape fix for "page-break: always"
                    margin-bottom: 19em;

                    #cards {
                        flex-wrap: nowrap
                    }
                }

                &#skills {
                    tr:nth-child(even) {
                        background-color: $white;
                    }
                }

                &#interests {
                    margin-bottom: 1em;

                    &>div {
                        justify-content: space-around;
                    }
                }
    
                article { 
                    flex-wrap: nowrap;
    
                    .description {
                        min-width: 200px;
                        max-width: 300px;
                        flex-basis: auto;
                        flex-grow: 1;
                    }
                }
            }
        }
    }
}