$blueLight: rgb(0, 119, 181);
$gray: rgb(109, 111, 114);
$grayBorder: rgb(202, 204, 206);
$grayDark: rgb(49, 51, 53);
$grayLight: rgb(245, 245, 245);
$orange: rgb(216, 133, 78);
$white: rgb(255, 255, 255);
$font: 'Source Sans Pro', sans-serif;

$breakSmallExtra: 373px;
$breakSmall: 540px;
$breakMedium: 720px;