<nav class="website-only">
        
    <div>
        <figure>
            <picture>
                <img src="/img/profile.jpg" alt="profile foto" id="profilePicture">
            </picture>
            <div class="desc">
                {{ with index .Site.Data.resume .Site.Language.Lang }}
                <figcaption>{{ .resume.basics.name }}</figcaption>
                {{ end }}
                <small>{{ .Param "currentWork" }}</small>
            </div>
        </figure>
        {{ with index .Site.Data.resume .Site.Language.Lang }}
        <div id="menu">
            <ul>
                {{ range $.Site.Menus.main }}
                {{ if eq $.Kind "home" }}
                    {{ $.Scratch.Set "active" ($.IsMenuCurrent "main" .) }}
                {{ else }}
                    {{ $.Scratch.Set "active" (or (eq .Identifier "projects") (eq .Identifier "projecten")) }}
                {{ end }}
                {{ $active := $.Scratch.Get "active" }}
                <li>
                    <a href="{{ .URL | absLangURL  }}">{{ .Name  }}</a>
                    <div class="signet {{ if $active }}active{{end}}"></div>
                </li>
                {{ end  }}
            </ul>  
        </div>
        <div id="contact">
            <ul>
                <li>
                    <a  href="mailto:{{ .resume.basics.email }}" aria-label="Email">
                        <img src="/img/at.png" alt="Email" width="10%">
                            
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/{{ .resume.basics.linkedin }}" aria-label="LinkedIn">
                        <img src="/img/linkedin.png" alt="LinkedIn" width="10%">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/{{ .resume.basics.github }}" aria-label="Github">
                        <img src="/img/github.png" alt="Github" width="10%">
                        
                    </a>
                </li>
            </ul>
        </div>
        {{ end }}
    </div>
    <div id="language">
            {{ if eq .Site.Language.Lang "en" }}
                <div class="active_language"><a href="https://miladnazari.be">ENG</a></div>
                <div><a href="https://nl.miladnazari.be">NL</a></div>
            {{ else }}
                <div><a href="https://miladnazari.be">ENG</a></div>
                <div class="active_language"><a href="https://nl.miladnazari.be">NL</a></div>
            {{ end }}
    </div>
    
</nav>