<nav class="website-only">
    <div>
        <figure>
            {{ if fileExists "static/img/profile.jpg" }}
                <picture>
                    <img src="/img/profile.jpg" alt="profile foto" id="profilePicture">
                </picture>
            {{ end }}
            <div class="profileDescription">
                {{ with index .Site.Data.resume .Site.Language.Lang }}
                    <figcaption>{{ .resume.basics.name }}</figcaption>
                    <small>{{ .resume.basics.careerStatus }}</small>
                {{ end }}
            </div>
        </figure>
        {{ with index .Site.Data.resume .Site.Language.Lang }}
            <div id="menu">
                <ul>
                    {{ range $.Site.Menus.main }}
                        {{ if eq $.Kind "home" }}
                            {{ $.Scratch.Set "active" ($.IsMenuCurrent "main" .) }}
                        {{ else }}
                            {{ $.Scratch.Set "active" (or (eq .Identifier "projects") (eq .Identifier "projecten")) }}
                        {{ end }}
                        {{ $active := $.Scratch.Get "active" }}
                        <li>
                            <a href="{{ .URL | absLangURL  }}">{{ .Name  }}</a>
                            <div class="signet {{ if $active }}active{{end}}"></div>
                        </li>
                    {{ end  }}
                </ul>  
            </div>
            {{ if .resume.basics.contact }}
                <div id="contact">
                    <ul>
                        {{ if .resume.basics.contact.email }}
                            <li>
                                <a  href="mailto:{{ .resume.basics.contact.email }}" aria-label="Email">
                                        {{ readFile "static/img/email.svg" | safeHTML }}
                                </a>
                            </li>
                        {{ end }}
                        {{ if .resume.basics.contact.email }}
                            <li>
                                <a  href="{{ .Site.BaseURL }}/keys/publickey.{{ .resume.basics.contact.email }}.asc" aria-label="Public key"download>
                                        {{ readFile "static/img/key.svg" | safeHTML }}
                                </a>
                            </li>
                        {{ end }}
                        {{ if .resume.basics.contact.linkedin }}
                            <li>
                                <a href="https://www.linkedin.com/in/{{ .resume.basics.contact.linkedin }}" aria-label="Linkedin">
                                    {{ readFile "static/img/linkedin.svg" | safeHTML }}
                                </a>
                            </li>
                        {{ end }}
                        {{ if .resume.basics.contact.github }}                        
                            <li>
                                <a href="https://github.com/{{ .resume.basics.contact.github }}" aria-label="Github">
                                    {{ readFile "static/img/github.svg" | safeHTML }}
                                </a>
                            </li>
                        {{ end }}
                    </ul>
                </div>
            {{ end }}
        {{ end }}
    </div>
    {{ if .Site.IsMultiLingual }}
        <div id="language">
            {{ if eq .Site.Language.Lang "en" }}
                <div class="active_language">{{ upper .Site.Language.Lang }}</div>
                <div><a href="https://nl.miladnazari.be">NL</a></div>
            {{ else }}
                <div><a href="https://miladnazari.be">EN</a></div>
                <div class="active_language">{{ upper .Site.Language.Lang }}</div>
            {{ end }}
        </div>
    {{ end }}
</nav>