{{ partial "header.html" . }}
{{ with resources.Get "css/cv.scss" | toCSS | minify }}
<style>{{ .Content | safeCSS }}</style>
{{ end }}
<body class="container">
    {{ partial "sidebar.html" . }}
    <div class="main">
        {{ with index .Site.Data.resume .Site.Language.Lang }}
        <header>
            <div class="print-only">
                <div>
                    <figure>
                        <img src="img/profile.jpg" alt="profile foto" id="profilePictureSidebar">
                    </figure>
                    <div>
                        <h1>{{ .resume.basics.name }} | CV</h1>
                        <small>{{ .resume.basics.summary }}</small><br>
                        <small><strong>E-mail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;{{ .resume.basics.contact.email }}</small>
                        <small><strong>LinkedIn&nbsp;:</strong>&nbsp;&nbsp;linkedin.com/in/{{ .resume.basics.contact.linkedin }}</small>
                        <small><strong>Github&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</strong>&nbsp;&nbsp;github.com/{{ .resume.basics.contact.github }}</small>
                    </div>
                </div>
                <img src="img/qr-code.png" alt="qr-code website">
            </div>
            <div class="website-only">
                <div class="website-only">
                    <h1>{{ i18n "curriculumVitae" }}</h1>
                </div>
                {{ if eq $.Site.Language.Lang "en" }}
                    <a href="https://miladnazari.be/Milad-Nazari-{{ $.Site.Language.Lang }}.pdf" class="btn website-only" download><strong>.PDF</strong></a>
                {{ else }}
                    <a href="https://nl.miladnazari.be/Milad-Nazari-{{ $.Site.Language.Lang }}.pdf" class="btn website-only" download><strong>.PDF</strong></a>
                {{ end }}
            </div>
        </header>
        {{ if .resume.experience }}
        <section id="experience">
            <h2>{{ upper (i18n "experience") }}</h2>
            {{ range .resume.experience }}
            <article>
                <a {{if .website }} href="http://{{ .website }}" {{ end }}>
                    <div class="square">{{ .companyName }}</div>
                </a>
                <div class="details">
                    <h3>{{ .position }}</h3>
                    <p>{{ .startDate }} - {{ if .endDate }} {{ .endDate }} {{ else }} {{ i18n "untilNow" }} {{ end }}</p>
                    <p> {{ .location }} </p>
                </div>
                <p class="description">{{ .summary }}</p>
            </article>
            {{ end }}
        </section>
        {{ end }}
        {{ if .resume.education }}
        <section id="education">
            <h2>{{ upper (i18n "education") }}</h2>
            <div id="cards">
                {{ range .resume.education }}
                <a href="http://{{ .website }}">
                    <div class="card">
                            <h3>{{ .institutionName }}</h3>
                            <div>
                                <p>{{ .area }}<br/>
                                {{ .startDate }} - {{ if .endDate }} {{ .endDate }} {{ else }} {{ i18n "untilNow" }} {{ end }}</p>
                            </div>
                        
                    </div>
                </a>
                {{ end }}
            </div>
        </section>
        {{ end }}
        <div class="page-break" width="100px" height="100px">
        </div>
        {{ if .resume.knowledgeAndSkills }}
        <section id="skills">
            <h2>{{ upper (i18n "skillsAndKnowledge") }}</h2>
            <table>
                <thead>
                    <tr>
                        <th id="domeinColumn">{{ i18n "domain" }}</th>
                        <th id="knowledgeLevelColumn">{{ i18n "proficiencyLevel" }}</th>
                        <th id="specificationColumn"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- for each cateogory of skill -->
                    {{ $.Scratch.Add "i" 0 }}
                    {{ range .resume.knowledgeAndSkills.knowledge }}
                        {{ $scopeSkill := . }}
                        {{ range first 1 .skillsets }}
                            <tr>
                                {{ with $scopeSkill }}
                                    {{ $k := $.Scratch.Get "i" }}
                                    {{ if eq ( mod $k 2 ) 0}}
                                        <th rowspan="{{ len .skillsets }}" class="domain">{{ .category }}</th>
                                    {{ else }}
                                        <th rowspan="{{ len .skillsets }}">{{ .category }}</th>
                                    {{ end }}
                                {{ end }}
                                <td>{{ .level }}</td>
                                <td>{{ delimit .subskills ", " }}</td>
                                
                            </tr>
                        {{ end }}
                        {{ range after 1 .skillsets }}
                            <tr>
                                <td>{{ .level }}</td>
                                <td>{{ delimit .subskills ", " }}</td>
                            </tr>
                        {{ end }}
                        {{ $.Scratch.Add "i" 1 }}
                    {{ end }}
                </tbody>
            </table>
            {{ if ne .Site.Language.Lang "en" }}
            <style>
                @media (max-width : 537px) {
                    td:nth-of-type(2):before { content: "{{ i18n "specific" }}" }
                    td:nth-of-type(1):before { content: "{{ i18n "proficiencyLevel" }}" }
                }
            </style>
            {{ end }}
            {{ range .resume.knowledgeAndSkills.skills }}
                <div>+ {{ . }}</div>
            {{ end }}
        </section>
        {{ end }}
        {{ if .resume.interests }}
        <section id="interests">
            <h2>{{ upper (i18n "interests") }}</h2>
            <div>
                {{ range .resume.interests }}
                <div class="diamond">
                    <div class="diamond-text">{{ . }}</div>
                </div>
                {{ end }}
            </div>
        </section>
        {{ end }}
        {{ end }}
    </div>
    {{ $printStyle := resources.Get "css/print.scss" | toCSS | minify}}
    <link rel="stylesheet" href="{{ $printStyle.RelPermalink }}" media="print"/>
</body>

</html>