{{ partial "header.html" . }}
<body class="container">
    {{ partial "sidebar.html" . }}
    <div class="main">
        <header>
            <h1>{{ i18n "projects" }}</h1>
        </header>
        <section id="webDevelopment">
            <h2>{{ upper (i18n "webDevelopment") }}</h2>
        </section>
        <section id="automation">
            <h2>{{ upper (i18n "automation") }}</h2>
        </section>
        <section id="dataAnalysis">
            <h2>{{ upper (i18n "dataAnalysis") }}</h2>
        </section>
        <section id="desktop">
            <h2>{{ upper (i18n "desktop") }}</h2>
        </section>
        <!--
        <section id="cyberSecurity">
            <h2>{{ upper (i18n "cyberSecurity") }}</h2>
        </section>
        -->
    </div>
</body>

</html>